/*

    The following CSS codes are created by the YellowPencil plugin.
    https://yellowpencil.waspthemes.com/


    T A B L E   O F   C O N T E N T S
    ........................................................................

    01. "NOS CATÉGORIES TENDANCES" Post

*/



/*-----------------------------------------------*/
/*  "NOS CATÉGORIES TENDANCES" Post             */
/*-----------------------------------------------*/
body.postid-672 .top-content h2 a{
	text-align:center;
	font-style:italic;
}